/*------------------------------------------------------------------
 [Custom Stylesheet]


-------------------------------------------------------------------*/

	.message{
		color: red;
		font-size: 12px;
	}
	
	.ui-input-invalid {
	    border-left-color: red !important;
	    border-left-width: 2px !important;
	}
	
	 .ve {
	  background: url('../../assets/images/flags/VE.png') no-repeat 0;
	}
	
	 .us {
	  background: url('../../assets/images/flags/US.png') no-repeat 0;
	}
	
	.mtmbmenu{
	  margin-top: -5px;
	  margin-bottom: -5px;
	}
	 

